
.actions-container {
    margin-left: .5rem;
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    height: 100%;
    width: 100%;
    min-width: 275px;
}

.board-actions {
    margin-right: .5rem;
}

.actions-button {
    border: 1px solid #aaa;
    border-radius: 6px;
    background: none;
    color: #777;
    padding: .05rem .1rem;
    cursor: pointer;
    margin-bottom: .35rem;
}

.actions-button:hover {
    background: #aaa;
    color: #fff;
}

.actions-button svg {
    height: 20px;
    display: block;
}

.history-actions {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.history-container {
    width: 100%;
    height: 100%;
    margin-bottom: .5rem;
    flex-shrink: 1;
    border: 1px solid #ddd;
    background: #fafafa;
    border-radius: 6px;
    overflow: hidden;
}

.actions-button.history-button {
    margin-right: .25rem;
}

.actions-button.history-button:last-child {
    margin-right: 0;
}

.notation-header,
.notation-pair-container {
    display: flex;
}

.notation-pair-container:last-child {
    border-bottom: 1px solid #e0e0e0;
}

.move-order,
.notation-white,
.notation-black {
    padding: 6px;
    font-size: 1.1rem;
}

.move-order {
    width: 20%;
    background: #efefef;
    border-right: 1px solid #e0e0e0;
}

.notation-white,
.notation-black {
    width: 40%;
}

.highlight-notation {
    background: #e6efbc;
}

.notation-header .move-order,
.notation-header .notation-white,
.notation-header .notation-black {
    background: #f7f7f7;
    font-size: .9rem;
    color: #777;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}