
.actions-container {
    margin-left: .5rem;
    flex-shrink: 0;
    flex-grow: 1;
}

.actions-button {
    border: 1px solid #aaa;
    border-radius: 6px;
    background: none;
    color: #777;
    padding: .05rem .1rem;
    cursor: pointer;
    margin-bottom: .35rem;
}

.actions-button:hover {
    background: #aaa;
    color: #fff;
}

.actions-button svg {
    height: 20px;
    display: block;
}