.board-wrapper {
    width: min(85vh, 85vw);
    height: min(85vh, 85vw);
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    border: 6px solid #9d6633;
    box-shadow: 0 4px 10px #cecece;
}

.board-square {
    position: absolute;
    height: 12.5%;
    width: 12.5%;
}

.light-square {
    background:#ffce9d;
}

.dark-square {
    background:#d18a46;
}

.move-history-square {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.move-history-square.last-move-start {
    background: #44ffa8;
    opacity: .3;
}

.move-history-square.last-move-end {
    background: #44ffa8;
    opacity: .4;
}

.valid-move-square {
    position: absolute;
    box-sizing: border-box;
    height: 12.5%;
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valid-move-square .indicator-move {
    height: 30%;
    width: 30%;
    border-radius: 100%;
    background: rgb(173, 114, 55);
    opacity: .7;
}

.valid-move-square .indicator-capture {
    height: 80%;
    width: 80%;
    border-radius: 100%;
    background: rgba(255, 255, 255, .15);
    border: 5px solid rgba(173, 114, 55, 0.8);
}

.valid-move-square:hover .indicator-move,
.valid-move-square:hover .indicator-capture {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 0;
    border: none;
    opacity: 1;
    background: none;
    border: 4px solid #f4ed35;
    box-shadow: inset 0 0 10px #f4ed35;
}