.valid-move-square {
    position: absolute;
    box-sizing: border-box;
    height: 12.5%;
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.valid-move-square .indicator-move {
    height: 30%;
    width: 30%;
    border-radius: 100%;
    background: rgb(173, 114, 55);
    opacity: .7;
}

.valid-move-square .indicator-capture {
    height: 80%;
    width: 80%;
    border-radius: 100%;
    background: rgba(255, 255, 255, .15);
    border: 5px solid rgba(173, 114, 55, 0.8);
}

.valid-move-square:hover .indicator-move,
.valid-move-square:hover .indicator-capture {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border-radius: 0;
    border: none;
    opacity: 1;
    background: none;
    border: 4px solid #f4ed35;
    box-shadow: inset 0 0 10px #f4ed35;
}