.App {
  text-align: center;
  padding: 4rem;
}

.chessboard-container {
  margin: auto;
  width: 600px;
  width: 600px;
}

.chessboard-container .board-wrapper > svg {
  height: 100%;
  width: 100%;
}
